h1 {
  color: #00994C;
  text-align: center;
  font-family: Georgia;
}
#flex-layout {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#trackers {
	display: flex;
	flex-direction: column;
	order: 2;
	width: 30%;
}
#counter {
	text-align: center;
	font-family: Georgia;
	background: pink;
	width: 100%;
	order: 1;
}
#money {
	background: green;
	width: 100%;
	height: 100px;
	order: 2;
	text-align: center;
	line-height: 100px;
}
#jobs {
	background: blue;
	width: 35%;
	height: 500px;
	order: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
#upgrades {
	background: red;
	width: 35%;
	height: 500px;
	order: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
#bottom-row{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#save-functionality {
	background: yellow;
	width: 15%;
	height: 150px;
	order: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
#message{
	background: orange;
	font-family: Georgia;
	font-size: 24px;
	color: #00994C;
	width: 85%;
	order: 2;
	height: 150px;
	text-align: center;
}
