h1 {
	color: black;
	text-align: center;
	font-family: Georgia;
}
button {
	background-color: light gray;
	border: 2px solid black;
	color: black;
	padding: 7px 10px;
}
#flex-layout {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#trackers {
	display: flex;
	flex-direction: column;
	order: 2;
	width: 30%;
}
#counter {
	text-align: center;
	font-family: Georgia;
	/*background: pink;*/
	width: 100%;
	order: 1;
}
#money {
	/*background: green;*/
	width: 100%;
	height: 100px;
	order: 2;
	text-align: center;
	line-height: 100px;
}
#jobs {
	/*background: blue;*/
	border-style: dotted;
	border-color: black;
	width: 35%;
	height: 500px;
	order: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
#upgrades {
	/*background: red;*/
	border-style: dotted;
	border-color: black;
	width: 35%;
	height: 500px;
	order: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
#bottom-row{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#save-functionality {
	/*background: yellow;*/
	width: 15%;
	height: 150px;
	order: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
#message{
	/*background: orange;*/
	font-family: Georgia;
	font-size: 24px;
	color: black;
	width: 70%;
	order: 2;
	height: 150px;
	text-align: center;
}
